<h1>Editing phone directory</h1>

<%= render "form", phone_directory: @phone_directory %>

<br>

<div>
  <%= link_to "Show this phone directory", @phone_directory %> |
  <%= link_to "Back to phone directories", phone_directories_path %>
</div>
