<h1>Welcome to the application</h1>
<%= link_to 'About', about_path, class:'btn btn-primary'%>
<%#= link_to 'Mobile Contacts', new_phone_directories_path %>
<%= link_to 'Add contact', phone_directories_path, class:'btn btn-success'%>